*{
    margin: 0;
    padding:0;
    box-sizing:border-box; 
}
body{
    background-color:hsl(240, 2%, 79%,0.2);
    font-family:"Overpass",sans-serif;
}
.no-scroll{
    overflow: hidden;
}
html{
    font-family:"Ubuntu",sans-serif;
    font-size: 62.5%;
}
.list-link,
.list-link:link,
.list-link:visited{
    text-decoration: none;
}
.overlay,.icon-hamburger{
    display: none;
}
.header{
    background-image: url(../images/bg-pattern-intro.svg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;  
    background-color:hsl(13, 100%, 72%);
    border-bottom-left-radius: 100px;
    color: hsl(0, 0%, 100%); 
}
/* navigation styling ends here */
.navigation-bar{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding-top:5%;
}
.first-navbar-list{
    margin-left: -30%;
    margin-top:.1%;
}
.caret-img{
    margin-left:10px;
}
.sign-button{
    background-color: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);   
    transition: all .6s ease; 
}
.sign-button,.start-btn,.Learn-btn{
    border-radius:30px;
    padding: 8px 23px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.sign-button:hover{
    background-color:hsl(353, 100%, 62%);;
    color:hsl(0, 0%, 100%);
    text-decoration: none;
}                                                                                                                   
.lists{
    list-style-type: none;
    
}
.dropdown-btn{
    font-size: 2rem;
}
.dropdown,.register{
    display: inline-block;
    font-size: 2rem;
    padding: 10px;
}
.list-item .list-link,.login-link,.dropdown-btn{
    color:  hsl(0, 0%, 100%);
}
.dropdown-btn,.login-link:hover{
    color: white;
}
/* dropdown styling start here */
.dropdown-content{
    display: none;
    position:absolute;
    min-width: 150px;
    background-color:  hsl(0, 0%, 100%);
    box-shadow: 0px 1px 1px 0px;
    margin-top: 10%;
    border-radius: 10px;
}
.dropdown-content a{
    color:hsl(207, 13%, 34%);
    padding: 10px 10px;
    display: block;
    text-decoration: none;
    text-align:center;
}
.dropdown-content a:hover{
    color:  black;
    font-weight: 700;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover a img{
    transform: rotate(180deg);
    transition: transform .3s;
}

/* dropdown styling ends here */
/* navigation styling ends here */
.reg:hover{
    text-decoration: none;
}
.platform-text{
    margin-top:10%;
    margin-bottom: 14%;
    text-align: center;
}
.platform-head{
    font-size:5.5rem;
    font-weight:600;
}
.platform-paragraph{
    font-size: 1.9rem;
}
.platform-button{
    margin-top: 5%;
}
.platform-link{
    font-size: 1.5rem;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    margin: 10px;
    font-weight:700;
    color:  hsl(0, 0%, 100%);
    border:none;
    padding: 12px 10px;
}
.Learn-btn{
    border: 1px solid  rgb(255, 255, 255);
}
.start-btn{
    background-color: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    
}
.start-btn:hover{
    background-color:hsl(353, 100%, 62%);
    color: hsl(0, 0%, 100%) ;
    border:none;
}
.Learn-btn:hover{
    text-decoration: none;
    background-color: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
}
.Learn-btn:hover,.start-btn:hover{
    text-decoration: none;
}

/* second section  styling start here */
.designed-future-heading{
    margin-bottom: 7%;
}

.second-section-div{
    margin-top: 10%;
}
.designed-future-heading{
    font-size: 3rem;
}
.introducing-heading{
    font-size: 2.5rem;
}
.introducing-heading,
.designed-future-heading{
    font-weight:600;   
    color:  hsl(237, 17%, 21%);
}
.introducing-paragraph,.state-art-paragraph{
    color: hsl(207, 13%, 34%);
    font-size: 1.6rem;
    font-weight: 400;
    padding-right: 25px;
}
.illustration-editor-desktop-div{
    width: 100%;
    height: 500px;
}
.img-editor{
    background-image: url("../images/illustration-editor-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
     height: 60rem;
     top: -20%;
    position:absolute;
    right: -10%;
} 
.second-section-div{
    position: relative;
    z-index:99;
}
/* second section styling ends here */

/*third section  styling start here */
.third-section-div{
    margin-top: 5%;
    background-color:hsl(237, 17%, 21%);
    border-top-right-radius:120px;
    border-bottom-left-radius:100px;
}
.third-row-content{
    color: hsl(0, 0%, 100%);
    margin: 10% 0px 10% 0px;
}
.pattern-phone-div{
    position: absolute;
    top: -70px;
    width: 100%;
    z-index: 10;
}
.pattern-circles-box{
    position: absolute;
    left: -10%;
    top: 135rem;
    width: 62%;
    height: 350px;
    background: url(../images/bg-pattern-circles.svg);
    background-size: cover;
    background-position: center;
}

.illustration-phones{
    margin-top: -23%;
    margin-left: -7%;
}
.state-art-heading{
    font-size: 3.5rem;
}
.state-art-paragraph{
    color:hsl(0, 0%, 100%);
    width:100%;
}   
/*third section  styling start here */

/*fourth section  styling ends here */
.fourth-section-div{
    margin-top: 20%;
}
.illustration-laptop{
    position: absolute;
    left: -28rem;
    top: -30%;
    
}
.img-fluid{
    height:60rem;
}
    
.img-laptop-mobile{
    display: none;
}

/*fourth section  styling ends here */

/*fifth section styling start here */
.footer-contents,.link-heading{
    font-size: 1.5rem;
}
.footer-contents{
padding-top:5% ;
/* text-align: center; */
}

.fifth-section{
    background-color: hsl(237, 17%, 21%);
    margin-top: 20%;
    color:  hsl(0, 0%, 100%);
    border-top-right-radius:100px;
    
}
.footer-list{
    list-style: none;
    padding: 5px;
 
}

.link-heading{
    padding-bottom: 20px;
    font-weight:700;
}
.link{
    color:hsl(240, 2%, 79%);
    text-decoration: none;
    font-weight:400;
    text-align: center;
}
.link:hover{
    color:hsl(0, 0%, 100%);
}
.link-heading{
    margin-top: -1%;
}

/* =======================MEDIA QUERY START HERE============================== */
@media screen and (max-width:1366px) {
    .img-editor{
  left: 32% !important;;
  
    }
}
@media screen and (max-width:1440px){
    .img-fluid{
        margin-left: -11%;
    }
    .robust-div{
        padding-bottom: 20%;
    }
    .pattern-circles-box{
        bottom: 20px;
        width: 51%;
        height: 307px;
        margin-top:5px;
        margin-left: 18%;
    }
}
@media screen and (max-width:1024px){
    .first-navbar-list{
        margin-left: -25%;
    }
    .img-editor{
        left: 20%;
    }
    .designed-future-heading{
        font-size: 3rem;
        padding-top:4%;
    }
    .introducing-heading{
        font-size: 2.8rem;
    }
    .introducing-paragraph{
        width: 100%;
        font-size: 1.8rem;
    }
    .state-art-heading{
        font-size: 3rem;
    }     
    .pattern-circles-box{
        margin-top: 2%;
        width: 50%;
        height: 300px;
        margin-left: 14%;
    }
    .illustration-phones{
    margin-left: -10%;
    width: 100%;
    margin-top: -20%;
    height: 500px;
}
.img-fluid{
    height: 600px;
    margin-top: 10%;
}
.illustration-laptop{
    margin-left: 30%;
}
.fifth-section{
    margin-top:10%;
}
}
@media screen and (max-width:990px){
    .company-logo{
        width: 80px;
    }
    .first-navbar-list{
        margin-left: -5%;  
    }
    .lists{
        margin-top: -2%;
    }
    .platform-head{
        font-size: 3rem;
    }
    .platform-paragraph{
        font-size: 1.5rem;
    }
    .designed-future-heading{
        font-size:3rem;
    }
    .introducing-heading{
        font-size: 2rem;
    }
    .introducing-paragraph{
        font-size: 1.6rem;
        padding-right: 0px;
        width: 100%;
    }
    .illustration-editor-desktop-div{
        position: relative;
    }
    .img-editor{
        left:45%;
        width: 100%;
        height: 550px;
    }
    .third-section-div{
        margin-top: 10%;
    }   
    .state-art-heading{
        font-size: 2rem;
    }
    .pattern-circles-box{
        margin-top: -10%;
        height: 300px;
    }
    .img-fluid{
        height: 500px;
        margin-left: -21%;
        margin-top: 20%;
    }
}

@media screen and (max-width:900px){
    .img-editor{
    left: 30%;
    }
    .illustration-phones{
        margin-left: -8%;
    }
    .fifth-section{
        margin-top: 40%;  
    }
    .img-fluid{
        margin-left: -13%;
    }
}
@media screen and (max-width:768px){
   .img-editor{
     left: 10%;
     height: 480px;
     top: -15%;
 }  
    .pattern-circles-box{
        margin-top: -20%;
    }  
    .img-fluid{
        margin-left:.5%;
        height: 500px;
    }
    .illustration-phones{
        height: 450px;
        margin-top:-15%;
    }
    .fifth-section{
        margin-top: 10%;
    }
}
@media screen and (min-width: 768px){
    .hamburger-change{
        display: none;
    }

}
@media screen and (max-width:767px){
    /* overlay  mobile nav styling start  */
    /* changing of hamburger to close icon start here*/
  #icon-hamburger,#icon-close{
    border:none;
  }
    /* changing of hamburger to close icon end here*/
    .icon-hamburger{
        display: block;
    }
    .overlay{
        display: flex;
    }
    .nav{
        display: none;
    } 
    .dropdown{
        display: block;
    }
    .lists{
        background-color: hsl(0, 0%, 100%);
        margin-left: 20PX;
        margin-right: 20PX;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 2px hsl(0, 0%, 100%);
    }
    #myNav{
        margin-top:20%;;
        z-index:99;
    }
    .overlay-content{
        /* height: 300px; */
        position: relative!important;
        width:100%!important;
        text-align: center!important;
        /* top:0%!important; */
        z-index:-1!important;
       
    }
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top:0%;
    left: 138px;
    padding-right: -10%;
    background-color:hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow-x: hidden;
    transition: 0.5s;
    margin-right:auto;
    margin-left:auto;
   
}
.collapse{
 background-color: hsl(240, 2%, 79%);
 margin-left:5%;
 margin-right:5%;
}
.button{
 box-shadow: none !important;
 text-decoration: none !important;

}
.menu-headings{
    font-size: 2rem;
    color:hsl(207, 13%, 34%);
    font-weight: 500;
}
p img:focus{
    transform: rotate(360deg);
    transition:all .3s;
}
.card-header{
    margin-bottom: none !important;
    background-color: hsl(0, 0%, 100%);
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    color: hsl(237, 17%, 21%);
    display:block;
    font-weight: 600;
    transition: 0.3s;
}
.blogr-logo{
    position: absolute;
    left:5%;
}
.register{
    display: block;  
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    right: 50px;
    font-size: 60px;
    width: 20px;
}
.icon-hamburger{
    margin-top: 25%;
    }
    .overlay .closebtn{
        top: -1.6%;
    }
.dropdown .dropdown-btn,.mobile-submit a{
    font-size:1.5rem;
}
.login,.button-submit{
margin-left: -5%;
}   
.login .link{
    font-size: 2rem;
}
.button-signup{
    background-image: linear-gradient(to right,hsl(13, 100%, 72%) ,hsl(353, 100%, 62%));
    color:hsl(0, 0%, 100%);
    border-radius: 30px;
    border:none;
    padding: 3px 20px;
    }
    .registration .login{
        list-style-type: none;
        margin-left:-2%;
        font-size: 2rem;
    }
    /* overlay  mobile nav styling ends here */
    .platform-text{
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .platform-head{
        font-size: 4rem;
        width: 75%;
        margin: 0 auto;
    }
    .platform-paragraph{
        font-size: 2rem;
        width: 70%;
        margin: 0 auto;
        font-weight: 400;
    }
    .platform-link{
        padding: 10px 20px;
    }
    .designed-future-heading{
        padding-top: 13%;
        font-size: 4rem;
    }
    .introducing{
        display: flex;
    } 
    .intro-extensible{
        margin-top: -10%;
    }
    .editor-desktop{
        order: -1;
        width: 100%;
        height: 300px;
    }
    .img-editor{
        left: -3%;    
        width:100%;
        height: 515px;
        top:6%;
    }
    .img-editor-mobile{
        background-image: url(../images/illustration-editor-mobile.svg);
        background-repeat: no-repeat;
        height: 426px;
        width: 100%;
    }
    .intro-content{
        padding-top:50%;
    }
    .introducing-heading,.introducing-heading{
        font-size: 4rem;
        width: 80%;
        margin: auto;
    }
    .introducing-paragraph,.state-art-paragraph{
        font-size:2rem;
    }
    .state-texts{
        text-align: center;
    }
    .state-art-heading{
        font-size: 5rem;
        width: 80%;
        margin:auto;
    }
    .third-row-content{
        display: flex;
    }
    .box-1{
        order: -1;
    }
    .pattern-circles{
        order: -1;
    }
    .robust-div{
        padding-bottom:15%;
    }
    .third-section-div{
     margin-top: 30%;
    }
    .link-heading{
        font-size: 2rem;
    }
    .link{
        font-size: 2rem
    }
    .pattern-circles-box{
        position: static;
        margin-left: -2%;
        height: 450px;
        margin-top: 5%;
        width: 100%;
    }
    .third-section-div{
        margin-bottom:50%;
    }
    .illustration-phones{
        margin-top:-80rem;
        height: 550px;
    }
    .illustration-laptop-content{
        display: flex;
    }
     .img-fluid{
     display: none;
    }
    .img-laptop-mobile{
        order: -1;
        display: block;
        margin-top: -70%;
        margin-left: 29%;
    }
    .intro-content,.free-open-content{
        margin: 0 auto;
        text-align: center;
    }
    .link-heading{
padding: 10%;
    }
    .footer-list-items{
        margin-top: -7%;
        /* border: 1px solid green;   */
    }
    .link-heading,
    .footer-list-items{
       text-align: center;
    } 
    .fifth-section{
        margin-top: 10%;
    }
    .footer-logo-box{
        padding-bottom: 10%; 
       text-align: center;
    }
    .state-texts{
        margin-top: -20%;
    }
    .state-texts,.state-art-paragraph{
      padding-left: 5%;
    }
   
}
@media screen and (max-width:600px){
    .overlay{
        left: 100px;
        /* width:100%; */
    }
.illustration-laptop{
    width: 100%;
    left: -40%;
}
.third-section-div{
    margin-bottom: 90%;
}
.img-laptop-mobile{
    position: absolute;
   left:-25%;
   margin-top: -80%;
   height:430px;
}
.introducing-heading,.state-art-heading{
    font-size: 3rem;
    width: 70%;
    margin: auto;
}
.introducing-paragraph,.state-art-paragraph{
    font-size:1.5rem;
}
.footer-logo{
    width: 40%;
}
@media screen and (max-width:425px){
    .overlay{
        left:75px;
    }
    .img-editor-mobile{
      height: 330px;
    }
    .designed-future-heading{
        font-size: 3rem;
    }
    .platform-head{
        font-size: 3.1rem;
    }
    .platform-paragraph{
        font-size: 1.5rem;
    }
   .state-art-heading{
       margin-left: 10%;       
   }
   .intro-extensible{
        margin-top: -27%;
}
.robust-div{
    padding-bottom:30%;
}
.pattern-phone-div{
    width: 95%;
    margin:auto;
}
.illustration-phones{
    width: 100%; 
    margin-top: -80rem;
    height: 400px;
    margin-left: -1%;
}
.free-open-heading{
width: 100%;
}
.extensible-editor{
    margin-top: -30%;
}
.state-texts{
    margin-top: -45%;
}
.state-art-heading{
    margin-left: 10%;     
}
.illustration-laptop{
    width: 100%;
    margin-left:40%;
}
.img-laptop-mobile{
    height: 300px;
    margin-left: 23%;
    /* display: none; */
}
.overlay .closebtn{
    top: -4%;
}
@media screen and (max-width:375px){
    .overlay{
        margin-left: -2%;
    }
    .img-editor{
            height: 280px;
            /* display: none; */
    }
    .platform-head{
        width:85%;
        font-size: 3.2rem;
    }
    .designed-future-heading,.introducing-heading{
        font-size: 2.5rem;
    }
    .state-texts{
        margin-top: -53%;
    }
    .illustration-laptop{
        margin-left: 40%;
    }
    .img-laptop-mobile{
     height: 260px;
    }   
    .intro-extensible{
        margin-top: -41%;
    }
}
@media screen and (max-width:320px){
    .platform-head{
        width: 100%;
    }
    .platform-link{
        padding:5px 5px;
    }
    .designed-future-heading{
        font-size: 2rem;
    }
    .start-btn{
        padding:6px 4px 6px 4px;
    }
    .img-editor{
        height: 220px;
    }
    .introducing-heading{
        font-size: 2rem;
    }
    .intro-extensible{
        margin-top:-63%;
    }
    .robust-div{
        padding-bottom: 50%;
    }
    .img-fluid{
        padding-bottom: 40%;
    }
    .state-texts{
        margin-top: -60%;
        margin-left: 8%;
        width:100%;
    }
.illustration-phones{
    height: 400px;
}
    .state-art-heading{
        font-size: 2rem;
    }
    .extensible-editor{
        margin-top: -50%;
    }
    .overlay .closebtn{
top: -5%;
    }
    .img-laptop-mobile{
    /* display: none; */
    height: 220px;
    }
    }

/* =======================MEDIA QUERY START HERE==============================*/